* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(245, 241, 241);
    color: rgb(15, 15, 15);
    font-family: 'Courier New', Courier, monospace;
    transition: 0.3s ease-in;
}

nav {
    overflow: hidden;
    top: 0;
    display: block;
}

nav ul {
    background-color: rgb(202, 202, 202);
    text-align: right;
    display: flex;
    width: 100%;
    transition: 0.3s ease-out;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    padding: 45px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(7, 83, 110);
    transition: 0.3s ease-in;
}

.logoMenu {
    width: 75px;
    height: 75px;
    margin-right: auto;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.hideMenu {
    display: none;
}

nav ul li a:hover {
    color: rgb(102, 102, 102);
}

.btnMudarTema {
    background-color: rgb(83, 83, 83);
    display: block;
    color: white;
    height: 50px;
    width: 50px;
    border: 3px solid white;
    border-radius: 100%;
    font-size: 25px;
    position: fixed;
    left: 10px;
    bottom: 20px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.btnMudarTema:hover {
    background-color: rgb(209, 209, 209);
    color: rgb(83, 83, 83);
    border: 2px solid black;
}

.container {
    position: relative;
}

.imgApresentacao {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.center {
    border: 3px solid white;
    position: absolute;
    top: 70px;
    color: white;
    text-align: left;
    margin-left: 50px;
    font-size: 18px;
    padding: 50px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #262626;
}

.center p {
    font-size: small;
}

.chefes {
    display: flex;
    justify-content: center;
}

.title {
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    display: block;
}

.chefes .chefe {
    padding: 80px;
    margin-right: 40px;
    align-items: center;
    border-radius: 15px;
}

.chefes .chefe img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 3px solid white;
    margin-bottom: 10px;
}

.chefes .chefe .nome {
    font-weight: bold;
    margin-bottom: 50px;
}

.portefolio {
    margin-right: auto;
    margin-left: auto;
    width: 750px;
}

.siteIMG {
    border-radius: 5px;
    width: 750px;
}

.sites p {
    font-weight: bold;
    color: white;
    background-color: rgb(7, 83, 110);
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 5PX;
    text-align: center;
    width: 750px;
}

.servicos {
    width: 100%;
    align-items: center;
}

.card_servicos {
    padding: auto;
    border: 2px solid #7094db;
    background-color: rgb(7, 83, 110);
    color: black;
    width: 750px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s ease-in-out;
    color: white;
    padding: 20px;
    border-radius: .5rem;
}

.card_servicos:hover {
    border: 2px solid #1f004d;
    background-color: #7094db;
    cursor: pointer;
    color: #1f004d;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(7, 83, 110);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

#myBtn:hover {
    background-color: rgb(11, 115, 153);
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(11, 115, 153);
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer p {
    display: inline;
    margin-bottom: 20px;
    color: #ccc;
}

footer a {
    text-decoration: none;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(11, 115, 153)
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(15, 136, 180)
}

.conteudo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pedirServico {
    padding: 0px 60px 0px 60px;
}

.pedirServico .caixadeTesto {
    display: block;
    width: 100%;
    margin: 0px 0px 20px 0px;
    padding: 10px;
    width: 500px;
    outline: none;
    resize: none;
}

.pedirServico .btnEnviar,
.btnLimpar {
    margin: 0px 0px 20px 0px;
    padding: 10px;
    width: 200px;
    color: white;
    background: rgb(15, 136, 180);
    outline: none;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.btnEnviar:hover {
    background: rgb(6, 69, 92);
}

.btnLimpar {
    background: rgb(167, 23, 18);
}

.btnLimpar:hover {
    background: rgb(126, 17, 13);
}