<main>

    <div class="container">

        <img src="./img/recursos-gratuitos-para-programadores.jpg" class="imgApresentacao" alt="" srcset="">
        <div class="center">

            <h3><b>J</b>á-<b>A</b>-<b>D</b>esenvolver</h3>
            <br>
            <p>Jhonnathan Ramos</p>
            <p>Alexandre Cardinha</p>
            <p>Daniel Almeida</p>
        </div>
    </div>

     <p class="title" id="sobre">Sobre Nós</p>

    <div class="chefes">
        
        <div class="chefe">

            <img src="./img/pessoas.jpg" alt="">
            <p class="nome">Jhonnathan Ramos</p>
            <p class="perfil">Perfil</p>


        </div>

        <div class="chefe">

            <img src="./img/pessoas.jpg" alt="">
            <p class="nome">Alexandre Cardinha</p>
            <p class="perfil">Perfil</p>

        </div>

        <div class="chefe">

            <img src="./img/pessoas.jpg" alt="">
            <p class="nome">Daniel Almeida</p>
            <p class="perfil">Rei da programação</p>

        </div>

    </div>

    <p class="title" id="sobre">Portefólio</p>


    <div class="portefolio">

        <div class="sitesFeitos">

            <div class="sites">

                <img src="./img/SiteJho.png" alt="" class="siteIMG">
                <p>Exemplo 1 - Jhonnathan Ramos</p>
                

            </div>
            
            <div class="sites">
            
                <img src="./img/SiteJho.png" alt="" class="siteIMG">
                <p>Exemplo 2 - Alexandre Cardinha</p>

            </div>

            <div class="sites">
            
                <img src="./img/SiteAlmeida.png" alt="" class="siteIMG">
                <p>Exemplo 3 - Daniel Almeida</p>

            </div>

        </div>

    </div>

    <button class="btnMudarTema"><i class='fas fa-lightbulb'></i></button>

</main>