<main>

    <div class="container">

        <img src="./img/recursos-gratuitos-para-programadores.jpg" class="imgApresentacao" alt="" srcset="">
        <div class="center">

            <h3><b>J</b>รก-<b>A</b>-<b>D</b>esenvolver</h3>
            <br>
            <p>Jhonnathan Ramos</p>
            <p>Alexandre Cardinha</p>
            <p>Daniel Almeida</p>
        </div>
    </div>


    <div class="chefes">

        <div class="chefe">

            <img src="" alt="">
            <p class="nome">Nome</p>
            <p class="perfil">Perfil</p>


        </div>

        <div class="chefe">

            <img src="" alt="">
            <p class="nome">Nome</p>
            <p class="perfil">Perfil</p>

        </div>

        <div class="chefe">

            <img src="" alt="">
            <p class="nome">Nome</p>
            <p class="perfil">Perfil</p>

        </div>


    </div>

    <button class="btnMudarTema"><i class='fas fa-lightbulb'></i></button>

</main>