<main>


    <button id="myBtn"><i class="fa fa-angle-up"></i></button>
    <button class="btnMudarTema"><i class='fas fa-lightbulb'></i></button>

    <div class="container">

        <img src="./img/recursos-gratuitos-para-programadores.jpg" class="imgApresentacao" alt="" srcset="">
        <div class="center">

            <h3><b>J</b>á-<b>A</b>-<b>D</b>esenvolver</h3>
            <br>
            <p>Jhonnathan Ramos</p>
            <p>Alexandre Cardinha</p>
            <p>Daniel Almeida</p>
        </div>
    </div>

    <p class="title" id="sobre">Sobre Nós</p>

    <div class="chefes">

        <div class="chefe">

            <img src="./img/pessoas.jpg" alt="">
            <p class="nome">Jhonnathan Ramos</p>
            <p class="perfil">Perfil</p>


        </div>

        <div class="chefe">

            <img src="./img/pessoas.jpg" alt="">
            <p class="nome">Alexandre Cardinha</p>
            <p class="perfil">Perfil</p>

        </div>

        <div class="chefe">

            <img src="./img/pessoas.jpg" alt="">
            <p class="nome">Daniel Almeida</p>
            <p class="perfil">Rei da programação</p>

        </div>

    </div>

    <p class="title" id="portefolio">Portefólio</p>


    <div class="portefolio">

        <div class="sitesFeitos">

            <div class="sites">

                <img src="./img/SiteJho.png" alt="" class="siteIMG">
                <p>Exemplo 1 - Jhonnathan Ramos</p>


            </div>

            <div class="sites">

                <img src="./img/SiteJho.png" alt="" class="siteIMG">
                <p>Exemplo 2 - Alexandre Cardinha</p>

            </div>

            <div class="sites">

                <img src="./img/SiteAlmeida.png" alt="" class="siteIMG">
                <p>Exemplo 3 - Daniel Almeida</p>

            </div>

        </div>

    </div>

    <p class="title" id="serviços"> Serviços</p><br>

    <section class="servicos">

        <div class="card_servicos">
            <p class="title_card_servicos"> Web Design </p>
            </p>
        </div>

        <div class="card_servicos">
            <p class="title_card_servicos"> Desenvolvedor Aplicações e Sites </p>
        </div>

        <div class="card_servicos">
            <p class="title_card_servicos"> Photoshop </p>
        </div>

        <div class="card_servicos">
            <p class="title_card_servicos"> Backend Developer </p>
        </div>
    </section>

    <p class="title" id="pedirServico"> Pedir Serviços</p><br>

    <section class="conteudo">

        <button id="myBtn"><i class="fa fa-angle-up"></i></button>

        <form action="" class="pedirServico">

            <label for="">Nome do Empresa:</label>
            <input type="text" name="" id="" class="caixadeTesto">
            <label for="">Localização da Empresa:</label>
            <input type="select" name="" id="" class="caixadeTesto">
            <label for="">Tipo de Projeto</label>

            <select class="caixadeTesto" id="TipoProjeto">
                       <option value="">TEXOT</option>
                       <option value="">TEXOT</option>
                       <option value="">TEXOT</option> 
                </select>


            <label for="">Pequena descrição do Projeto:</label>
            <textarea name="" id="" cols="30" rows="10" class="caixadeTesto"></textarea>

            <input type="button" value="Enviar" class="btnEnviar">
            <input type="button" value="Limpar" class="btnLimpar">

        </form>



    </section>

    <button class="btnMudarTema"><i class='fas fa-lightbulb'></i></button>




</main>