<nav>
    <ul>
        <img src="./img/logo.png" alt="" class="logoMenu">

        <li>
            <a href="/">Início</a>
        </li>
        <li>
            <a href="#sobre">Sobre Nós</a>
        </li>
        <li>
            <a href="#portefolio">Portefólio</a>
        </li>
        <li>
            <a href="#serviços">Serviços</a>
        </li>
        <li>
            <a href="#pedirServico">Pedir Serviços</a>
        </li>

        <li class="hideMenu">
            <a href=""><i class="fa fa-bars"></i></a>
        </li>

    </ul>
</nav>