<nav>
    <ul>
        <img src="./img/logo.png" alt="" class="logoMenu">

        <li>
            <a href="/">Início</a>
        </li>
        <li>
            <a href="/sobre">Sobre Nós</a>
        </li>
        <li>
            <a href="/sobre">Portefólio</a>
        </li>
        <li>
            <a href="">Serviços</a>
        </li>
        <li>
            <a href="">Pedir Serviços</a>
        </li>
    </ul>
</nav>