<!DOCTYPE html>
<html lang="pt">

<!--Head-->
<%- include("./HTML Elements/head") %>

    <body>
        <!--Menu-->
        <%- include("./HTML Elements/menu") %>

            <!--Main-->
            <%- include("./HTML Elements/main") %>

                <!--Footer-->
                <%- include("./HTML Elements/footer") %>


    </body>

</html>