<!DOCTYPE html>
<html lang="pt">

<!--Head-->
<%- include("./HTML Elements/head") %>

    <body>

        <!--Menu-->
        <%- include("./HTML Elements/menu") %>

            <!--Footer-->
            <%- include("./HTML Elements/footer") %>


    </body>


</html>